<div class="rating-composer">
    {{rating-stars rating=rating readOnly=false owner=this action=(action "updateRating")}}
    <div class="rating-editor">
    	<h3>Acknowledgement</h3>
        {{popup-input-tip validation=textareaValidation}}
        <textarea class="rating-textarea" placeholder="{{i18n 'user_feedback.textarea_placeholder'}}" rows="4"></textarea>
        <button {{action "save"}} tabindex="5" class="btn btn-primary create {{if disableSubmit 'disabled'}}" title="{{i18n 'composer.title'}}">Submit</button>
        {{#if loading}}
            {{loading-spinner size="small"}}
        {{/if}}

    </div>
</div>
