{{#if visible}}
  <div class="card-content">
    <div class="user-card-avatar">
      <a href={{user.path}} {{action "showUser"}} class="card-huge-avatar">{{bound-avatar user "huge"}}</a>
      {{#if user.primary_group_name}}
        {{avatar-flair
          flairURL=user.primary_group_flair_url
          flairBgColor=user.primary_group_flair_bg_color
          flairColor=user.primary_group_flair_color
          groupName=user.primary_group_name}}
      {{/if}}
      {{plugin-outlet name="user-card-avatar-flair" args=(hash user=user) tagName='div'}}
    </div>

    <div class="names">
      <span>
        <h1 class="{{staff}} {{new_user}} {{if nameFirst "full-name" "username"}}">
          <a href={{user.path}} {{action "showUser"}}>{{if nameFirst user.name (format-username username)}} {{user-status user currentUser=currentUser}}</a>
        </h1>
        {{plugin-outlet name="user-card-after-username" args=(hash user=user) tagName=''}}

        {{#unless nameFirst}}
          {{#if user.name}}
            <h2 class='full-name'>{{user.name}}</h2>
          {{/if}}
        {{else}}
          <h2 class='username'>{{username}}</h2>
        {{/unless}}

        {{#if user.title}}
          <h2>{{user.title}}</h2>
        {{/if}}

        {{#if user.staged}}
          <h2 class="staged">{{i18n 'user.staged'}}</h2>
        {{/if}}

        {{plugin-outlet name="user-card-post-names" args=(hash user=user) tagName='div'}}
      </span>
    </div>

    <ul class="usercard-controls">
      {{#if user.can_send_private_message_to_user}}
        <li class='compose-pm'>
          {{d-button
            class="btn-primary"
            action=(action "composePrivateMessage" user post)
            icon="envelope"
            label="user.private_message"}}
        </li>
      {{/if}}

      {{#if siteSettings.user_feedback_enabled}}
        {{#link-to "userActivity.feedback" username class="btn fullWidth"}}
        <li>
          {{d-icon "star"}}Acknowledge
        </li>
        {{/link-to}}    
    {{/if}}

      <!-- {{#if showFilter}}
        <li>
          {{d-button
            action=(action "togglePosts" user)
            icon="filter"
            translatedLabel=togglePostsLabel}}
        </li>
      {{/if}}

      {{#if hasUserFilters}}
        <li>
          {{d-button
            action="cancelFilter"
            icon="times"
            label="topic.filters.cancel"}}
        </li>
      {{/if}} -->

      {{#if showDelete}}
        <li>
          {{d-button
            class="btn-danger"
            action=(action "deleteUser" user)
            icon="exclamation-triangle"
            label="admin.user.delete"}}
        </li>
      {{/if}}
    </ul>

    {{plugin-outlet
      name="user-card-additional-controls"
      args=(hash user=user close=(action "close"))
      tagName=""}}

    {{#if user.suspend_reason}}
      <div class='suspended'>
        {{d-icon "ban"}}
        <b>{{i18n 'user.suspended_notice' date=user.suspendedTillDate}}</b><br>
        <b>{{i18n 'user.suspended_reason'}}</b> {{user.suspend_reason}}
      </div>
    {{else}}
      {{#if user.bio_cooked}}<div class='bio'>{{text-overflow class="overflow" text=user.bio_excerpt}}</div>{{/if}}
    {{/if}}

    {{#if hasLocationOrWebsite}}
      <div class="location-and-website">
        {{#if user.location}}
          <span class='location'>{{d-icon "map-marker"}} <span>{{user.location}}</span></span>
        {{/if}}

        {{#if user.website_name}}
          <span class='website-name'>
            {{d-icon "globe"}}
            {{#if linkWebsite}}
              <a href={{user.website}} rel={{unless removeNoFollow 'nofollow noopener'}} target="_blank">{{user.website_name}}</a>
            {{else}}
              <span title={{user.website}}>{{user.website_name}}</span>
            {{/if}}
          </span>
        {{/if}}

        {{plugin-outlet name="user-card-location-and-website" args=(hash user=user)}}
      </div>
    {{/if}}

    {{#if user}}
      <div class="metadata">
        {{#if user.last_posted_at}}
          <h3><span class='desc'>{{i18n 'last_post'}}</span> {{format-date user.last_posted_at leaveAgo="true"}}</h3>
        {{/if}}
        <h3><span class='desc'>{{i18n 'joined'}}</span> {{format-date user.created_at leaveAgo="true"}}</h3>
        <h3 title="{{timeReadTooltip}}">
          <span class='desc'>{{i18n 'time_read'}}</span>
          {{format-duration user.time_read}}
          {{#if showRecentTimeRead}}
            <span>({{i18n 'time_read_recently' time_read=recentTimeRead}})</span>
          {{/if}}
        </h3>
        {{#if showCheckEmail}}
          <h3 class="email">
            {{d-icon "envelope-o" title="user.email.title"}}
            {{#if user.email}}
              {{user.email}}
            {{else}}
              {{d-button action="checkEmail" actionParam=user icon="envelope-o" label="admin.users.check_email.text" class="btn-primary"}}
            {{/if}}
          </h3>
        {{/if}}
        {{plugin-outlet name="user-card-metadata" args=(hash user=user)}}
      </div>
    {{/if}}

    {{#if publicUserFields}}
      <div class="public-user-fields">
        {{#each publicUserFields as |uf|}}
          {{#if uf.value}}
            <div class="public-user-field {{uf.field.dasherized_name}}">
              <span class="user-field-name">{{uf.field.name}}:</span>
              <span class="user-field-value">{{uf.value}}</span>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    {{#if showBadges}}
      {{#if user.featured_user_badges}}
      <div class="badge-section">
        {{#each user.featured_user_badges as |ub|}}
          {{user-badge badge=ub.badge user=user}}
        {{/each}}
        {{#if showMoreBadges}}
          {{#link-to 'user.badges' user class="btn more-user-badges"}}
            {{i18n 'badges.more_badges' count=moreBadgesCount}}
          {{/link-to}}
        {{/if}}
      </div>
     {{/if}}
    {{/if}}
  </div>
{{/if}}
