<!-- {{#if siteSettings.user_feedback_enabled}}
    {{rating-stars rating=args.model.average_rating readOnly=true}}
    {{link-to "Acknowledgements" "userActivity.feedback" args.model.username class="btn btn-primary"}}
{{/if}} -->