.fullWidth {
  width: 100%;
}
.star-icon {
  color: #ddd;
  font-size: 1.2em;
  position: relative;
}

.star-icon.full:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
}

.star-icon.half:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

@-moz-document url-prefix() { /* Firefox Hack :( */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}

.rating-stars{
  /*display: inline-block;*/
  display: none;
  margin-bottom: 8px;
}

.rating-textarea{
  width: calc(100% - 10px);
  display: block;
  resize: none;
}

.rating-composer{
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.rating-editor{
  .popup-tip{
    .close{
      padding: 0;
      margin-left: 10px;
    }
  }
}

.rating-stars-container{
  padding-right: 20px;
  .popup-tip{
    .close{
      padding: 0;
      margin-left: 10px;
    }
  }
}